* {
  padding: 0px;
  margin: 0px;
  background-color: #d2ea9b;
  font-family: "Montserrat", sans-serif;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: row;
  margin: 15px 0px;
}

.calc {
  padding: 25px;
  border: 0.5px solid black;
  width: fit-content;
  margin: auto;
}

.heading {
  text-align: center;
  margin: 50px;
}

.sym {
  margin: 0px 10px;
  width: 40px;
}

.type {
  font-weight: 500;
  font-size: 1.3rem;
  margin-right: 15px;
  width: 150px;
}

input {
  width: 250px;
  height: 30px;
  border: 0.5px solid grey;
  background-color: #ffff;
  padding: 5px;
}

.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: rgb(138, 54, 216);
  color: white;
  padding: 7px;
}

.btn:hover {
  background-color: rgb(150, 85, 211);
  transition: all 300ms;
}

.reset-btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: rgb(43, 43, 44);
  color: white;
  padding: 9px;
}
.reset-btn:hover {
  background-color: rgb(74, 74, 75);
  transition: all 300ms;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}

.nav-li-item {
  padding: 20px;
}

.nav-link {
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.nav-link:hover {
  color: rgb(236, 235, 243);
  background-color: rgb(11, 11, 11);
  padding: 7px;
  border-radius: 5px;
  transition: all 300ms;
}

.cur {
  color: rgb(236, 235, 243);
  background-color: rgb(11, 11, 11);
  padding: 7px;
  border-radius: 5px;
}
